.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
}

.animation-flip {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 0.5rem;
}

.card-back {
  background-color: #f3f4f6; /* gray-100 */
  transform: rotateY(180deg);
}

.card-front {
  background-color: white;
  /* Front face is default 0deg */
}

.animation-flip {
    transform: rotateY(180deg);
  }